{
  "plugins": [
    "lodash",
    [
      "@babel/plugin-transform-runtime",
      {
      //  "corejs": 2,
        "regenerator": true,
        "helpers": true,
        "proposals": false
      }
    ],
    [
      "wildcard",
      {
        "noModifyCase": true,
        "exts": ["ejs", "css", "scss"]
      }
    ]
  ],
  "presets": [
    [
      "@babel/preset-env",
      {
        "modules": false,
        "debug": false
      }
    ]
  ]
}
