{
  "plugins": [
    "lodash",
    [
      "@babel/plugin-transform-runtime",
      {
        "corejs": 2,
        "regenerator": true,
        "proposals": false
      }
    ],
    [
      "wildcard",
      {
        "noModifyCase": true,
        "exts": ["ejs"]
      }
    ]
  ],
  "presets": [
    [
      "@babel/preset-env",
      {
        "debug": true
      }
    ]
  ]
}
