<div id="sp-fw-rect" style="background-color:#000;">
  <div id="sp-fw-dot" style="display:none;"></div>
  <div id="sp-fw-cur-mode" style="display:none;"></div>
</div>
<div id="sp-fw-content" style="display:none;">
  <div id="sp-fw-main">
    <div id="sp-fw-main-head">
      <label>工作模式</label>
      <select id="sp-fw-a_enable" name="sp-fw-a_enable">
        <option value="preloader">预读模式</option>
        <option value="autopager">自动翻页模式</option>
      </select>
      <!-- <span id="sp-fw-span-info">Super_preloader</span> -->
    </div>
    <fieldset>
      <legend title="预读模式的相关设置">预读设置</legend>
      <ul>
        <li>
          <input type="checkbox" title="使用iframe预先载入好下一页到缓存,否则使用xhr请求下一页源码,取出所有的图片进行预读" id="sp-fw-useiframe"
            name="sp-fw-useiframe" />使用iframe方式
        </li>
        <li>
          <input type="checkbox" title="查看预读的内容,将其显示在页面的底部,看看预读了些什么." id="sp-fw-viewcontent"
            name="sp-fw-viewcontent" />查看预读的内容
        </li>
      </ul>
    </fieldset>
    <fieldset id="sp-fw-autopager-field" style="display:block;">
      <legend title="自动翻页模式的相关设置">翻页设置</legend>
      <ul>
        <li>
          <input type="checkbox" title="使用iframe方式进行翻页,否则使用xhr方式翻页,可以解决某些网页xhr方式无法翻页的问题,如果xhr翻页正常的话,就不要勾这项吧."
            id="sp-fw-a_useiframe" name="sp-fw-a_useiframe" />使用iframe方式</input>
          <input type="checkbox" title="每个下一页都用新的iframe，可以解决下一页图片或按钮点击的问题" id="sp-fw-a_newIframe"
            name="sp-fw-a_newIframe">新iframe</input>
          <ul id="sp-fw-a_useiframe-extend">
            <li>
              <input type="checkbox" title="等待iframe完全载入后(发生load事件),将内容取出,否则在DOM完成后,就直接取出来..(勾上后,会比较慢,但是可能会解决一些问题.)"
                id="sp-fw-a_iloaded" name="sp-fw-a_iloaded" />等待iframe完全载入
            </li>
            <li>
              <input type="number" min="0" title="在可以从iframe取数据的时候,继续等待设定的ms才开始取出数据(此项为特殊网页准备,如果正常,请设置为0)"
                id="sp-fw-a_itimeout" name="sp-fw-a_itimeout" />ms延时取出
            </li>
          </ul>
        </li>
        <li>
          <input type="checkbox" id="sp-fw-a_manualA" name="sp-fw-a_manualA"
            title="不会自动拼接上来,会出现一个类似翻页导航的的图形,点击翻页(在论坛的帖子内容页面,可以考虑勾选此项,从而不影响你的回帖)" />手动模式
        </li>
        <li>
          剩余<input type="number" min="0" id="sp-fw-a_remain" name="sp-fw-a_remain"
            title="当剩余的页面的高度是浏览器可见窗口高度的几倍开始翻页" />倍页面高度触发
        </li>
        <li>
          最多翻<input type="number" min="0" id="sp-fw-a_maxpage" name="sp-fw-a_maxpage"
            title="最多翻页数量,当达到这个翻页数量的时候,自动翻页停止." />页
        </li>
        <li>
          <input type="checkbox" id="sp-fw-a_separator" name="sp-fw-a_separator"
            title="分割页面主要内容的导航条,可以进行页面主要内容之间的快速跳转定位等." />显示翻页导航
        </li>
        <li>
          <input type="checkbox" title="将下一页的body部分内容整个拼接上来.(当需翻页的网站没有高级规则时,该项强制勾选,无法取消.)" id="sp-fw-a_force"
            name="sp-fw-a_force" />强制拼接
        </li>
        <li>
          <input type="checkbox" id="sp-fw-a_ipages_0" name="sp-fw-a_ipages_0" title="在JS加载后,立即连续翻后面设定的页数" />启用
          立即翻<input type="number" min="0" id="sp-fw-a_ipages_1" name="sp-fw-a_ipages_1" title="0为无穷多" />页
          <span class="sp-fw-spanbutton" title="现在立即开始连续翻页" id="sp-fw-a_starti">开始</span>
        </li>
      </ul>
    </fieldset>
    <div id="sp-fw-foot">
      <input type="checkbox" id="sp-fw-enable" title="总开关,启用js,否则禁用." name="sp-fw-enable" />启用
      <span id="sp-fw-setup" class="sp-fw-spanbutton" title="打开设置窗口">设置</span>
      <span id="sp-fw-savebutton" class="sp-fw-spanbutton" title="保存设置">保存</span>
    </div>
  </div>
</div>
