<div id="sp-fw-rect" style="background-color:#000;">
  <div id="sp-fw-dot" style="display:none;"></div>
  <div id="sp-fw-cur-mode" style="display:none;"></div>
</div>
<div id="sp-fw-content" style="display:none;">
  <div id="sp-fw-main">
    <div id="sp-fw-main-head">
      <label for="sp-fw-a_enable">Mode</label>
      <select id="sp-fw-a_enable" name="sp-fw-a_enable">
        <option value="preloader">Preloader</option>
        <option value="autopager">Autopager</option>
      </select>
      <span id="sp-fw-span-info">Super_preloader</span>
    </div>
    <fieldset>
      <legend title="Preloader helps accelerating loading">Preloader Settings</legend>
      <ul>
        <li>
          <label for="sp-fw-useiframe">
            <input type="checkbox"
              title="Use iframe to load next page into cache, otherwise use XHR to get the content. Do not use this if everthing is normal."
              id="sp-fw-useiframe" name="sp-fw-useiframe" />Use iframe
          </label>
          <label for="sp-fw-viewcontent">
            <input type="checkbox" title="Check preload contents." id="sp-fw-viewcontent"
              name="sp-fw-viewcontent" />Show
            preloaded content
          </label>
        </li>
      </ul>
    </fieldset>
    <fieldset id="sp-fw-autopager-field" style="display:block;">
      <legend title="Autopager frees you from clicking next page">Autopager Settings</legend>
      <ul>
        <li>
          <label for="sp-fw-a_useiframe">
            <input type="checkbox"
              title="Use iframe to load next page into cache, otherwise use XHR to get the content. Do not use this if everthing is normal"
              id="sp-fw-a_useiframe" name="sp-fw-a_useiframe" />Use iframe</input>
          </label>
          <label for="sp-fw-a_newIframe">
            <input type="checkbox" title="Use a new iframe for the next page. It may solve problems with figures"
              id="sp-fw-a_newIframe" name="sp-fw-a_newIframe">Use new iframe</input>
          </label>
          <ul id="sp-fw-a_useiframe-extend">
            <li>
              <label for="sp-fw-a_iloaded">
                <input type="checkbox" title="Append the content untill iframe is fully loaded" id="sp-fw-a_iloaded"
                  name="sp-fw-a_iloaded" />Wait iframe to be fully loaded
              </label>
            </li>
            <li>
              <label for="sp-fw-a_itimeout">
                <input type="number" min="0"
                  title="Wait for X ms untill the content is appended to the current page. (Default: 0)"
                  id="sp-fw-a_itimeout" name="sp-fw-a_itimeout" /> ms delay
              </label>
            </li>
          </ul>
        </li>
        <li>
          <label for="sp-fw-a_manualA">
            <input type="checkbox" id="sp-fw-a_manualA" name="sp-fw-a_manualA"
              title="The next page won\'t be appended to the current page and you need to click a button" />Manual mode
          </label>
        </li>
        <li>
          <label for="sp-fw-a_remain">
            Trigger autopager until the height is <input type="number" min="0" id="sp-fw-a_remain"
              name="sp-fw-a_remain" />x
            page height
          </label>
        </li>
        <li>
          <label for="sp-fw-a_maxpage">
            Turn at most <input type="number" min="0" id="sp-fw-a_maxpage" name="sp-fw-a_maxpage" /> pages
          </label>
        </li>
        <li>
          <label for="sp-fw-a_separator">
            <input type="checkbox" id="sp-fw-a_separator" name="sp-fw-a_separator"
              title="Show the page navigation bar" />Navigation bar
          </label>
        </li>
        <li>
          <label for="sp-fw-a_force">
            <input type="checkbox"
              title="Append the whole next page to current page (When there is not rule for the website, this is the only method)"
              id="sp-fw-a_force" name="sp-fw-a_force" />Force to join page
          </label>
        </li>
        <li>
          <label for="sp-fw-a_ipages_0">
            <input type="checkbox" id="sp-fw-a_ipages_0" name="sp-fw-a_ipages_0"
              title="Turn X pages instantly once the script is loaded. This is good for some gallery." />Turn <input
              type="number" min="0" id="sp-fw-a_ipages_1" name="sp-fw-a_ipages_1" title="0 for infinity" /> pages
          </label>
          instantly
          <span class="sp-fw-spanbutton" id="sp-fw-a_starti">Start</span>
        </li>
      </ul>
    </fieldset>
    <div id="sp-fw-foot">
      <label for="sp-fw-enable">
        <input type="checkbox" id="sp-fw-enable" title="Enable for thie website" name="sp-fw-enable" />Enable
      </label>
      <span id="sp-fw-setup" class="sp-fw-spanbutton" title="Global Settings">Global Settings</span>
      <span id="sp-fw-savebutton" class="sp-fw-spanbutton" title="Save settings">Save</span>
    </div>
  </div>
</div>
