name: Auto Merge Dependency Updates
on:
  - pull_request_target
jobs:
  run:
    runs-on: ubuntu-latest
    steps:
      - uses: tjenkinson/gh-action-auto-merge-dependency-updates@v1
        with:
          allowed-actors: dependabot-preview[bot], dependabot[bot]
          approve: true
          package-block-list: puppeteer
          merge: true
          merge-method: merge
          allowed-update-types: devDependencies:minor, devDependencies:patch, devDependencies:major, dependencies:minor, dependencies:patch, dependencies:major
